@import 'app-variables';
@import 'mixins';

.search {

}

.list {
  @include desktop {
    overflow: auto;

    white-space: nowrap;
  }

  &__movie {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;

    @include mobile-only {
      width: calc(50% - 20px);
      max-height: $poster-height-mobile;

      &:nth-child(even) {
        margin-right: none;
      }
    }

    @include tablet {
      width: calc(33.3333% - 20px);
      max-height: $poster-height-mobile;

      &:nth-child(3n) {
        margin-right: none;
      }
    }

    @include desktop {
      height: $poster-height-desktop;
    }


    background: $search-input-color;
    cursor: pointer;
  }

  &__poster {
    height: auto;

    @include desktop {
      height: $poster-height-desktop;
    }

    object-fit: cover;
  }
}
