
// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Place any custom variables here. For example:
$main-bg: #13141d;
$text-color-primary: #ffffff;
$text-color-secondary: #343750;
$text-color-accent: #38a948;
$label-text-color: #94959e;
$count-bg: $text-color-accent;
$search-input-color: #2b2c38;

// breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;

$search-input-height: 56px;
$poster-height-mobile: 400px;
$poster-width-desktop: 300px;
$poster-height-desktop: 440px;
$footer-height: 150px;
